.bg{
  background-color: #3D9970;
}

p{
  color: blue;
}

.last-paragraph{
  color: yellow;
}

.bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: blue;
}
